* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.banner {
  background-color: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 55%;
}

.content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.Logo{
  height: 12vh;
}

nav {
  width: 100%;
  height: 10vh;
  padding: 25px 70px;
  position: fixed;
  top: 0;
  background-color: rgb(21, 74, 74);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

nav .logo {
  width: 80px;
  height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navbar a {
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 35px;
  padding: 8px 5px;
  transition: 0.3s ease;
}

.navbar a:hover {
  color: rgb(21,74,74);
  background-color: white;

}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 90%;
}

.title h1 {
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 2px;
}

.title p {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-top: 35px;
  padding: 12px 35px;
  background: white;
  color: rgb(21, 74, 74);
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.3s ease;
}

.button:hover {
  background: #e1e1e1;
}

.text h2 {
  font-size: 40px;
  font-weight: 650;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.rowitems {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 25px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.container-box {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 50px 10px;
  transition: all 0.7s ease 0s; 
}

.container-image img {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
}

.container-box h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 550;
}

.container-box p {
  font-size: 16px;
  color: #808080;
}

.container-box:hover {
  transform: translateX(3px);
  box-shadow: 5px 20px 50px rgba(78, 78, 78, 0.1);
  border: 1px solid transparent;
  border-radius: 0px;
}

.location-title {
  text-align: center;
}

.location-title h2 {
  font-size: 40px;
  font-weight: 650;
  padding-top: 75px;
  padding-bottom: 10px;
  margin-top: 1%;
  margin-bottom: 5%;
}


.location-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col-content {
  position: relative;
  filter: brightness(95%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.col-content img {
  margin-bottom: 40px;
  height: 500px;
  border-radius: 27px;
  width: 100%;
}

.col-content h5 {
  position: absolute;
  font-size: 25px;
  color: white;
  font-weight: 500;
  left: 20px;
  bottom: 105px;
}

.col-content p {
  position: absolute;
  font-size: 20px;
  color: white;
  left: 20px;
  bottom: 80px;
}

.col-content:hover {
  filter: brightness(120%);
  transform: scale(1.05);
}


.footer {
  margin-top: 80px;
  background-color: rgb(21, 74, 74);
  padding: 60px 0 30px 0;
}

.foot {
  padding: 20px 0;
}

.footer-content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footlinks h4 {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 15px;
  position: relative;
}

.footlinks h4::before {
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -6px;
  background: white;
}



.footlinks ul li {
  margin-bottom: 12px;

}

.footlinks ul li a {
  font-size: 17px;
  color: white;
  opacity: 0.85;
  transition: 0.3s ease;
}

.footlinks ul li a:hover {
  opacity: 1;
  transform: translateX(5px);
}

.social a {
  font-size: 20px;
  margin-right: 12px;
  height: 42px;
  width: 42px;
  background: white;
  color: rgb(21, 74, 74);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease;
}

.social a:hover {
  background: #e1e1e1;
  transform: scale(1.1);
}


@media (max-width: 1400px) {
  .title h1 {
    font-size: 60px;
  }
}

@media (max-width: 1200px) {
  .container-image img {
    height: 180px;
    width: 180px;
  }

  .col-content img {
    height: 400px;
  }
}

@media (max-width: 992px) {
  nav {
    padding: 20px 40px;
  }

  .title h1 {
    font-size: 55px;
  }

  .title p {
    font-size: 22px;
  }

  .rowitems {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .col-content img {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .rowitems {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .container-box {
    padding: 30px 10px;
  }

  .container-image img {
    width: 100%;
    height: auto;
  }
}


@media (max-width: 576px) {
  .navbar {
    display: none !important;
  }

  nav {
    padding: 10px 20px;
  }

  .Logo {
    height: 10vh;

  }

  .title h1 {
    font-size: 38px;
  }

  .title p {
    font-size: 18px;
  }

  .banner img {
    height: 100vh;
  }

  .rowitems {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  }

  .col-content img {
    height: 260px;
    
  }

  .container-image{
     height: 300px;
     top: 0;
  }

  .container-box{
    height: 400px;
    contain: content;
  }
}

@media (max-width: 400px) {
  .navbar {
    display: none !important;
  }

  .title h1 {
    font-size: 30px;
  }

  .title p {
    font-size: 16px;
  }

  .button {
    padding: 10px 25px;
    font-size: 16px;
  }

  .container h2{
    font-size: 1.1rem;
  }

  .container-box{
    height: 399px;
  }
  .box{
    height: 200px !important;
    contain: content;
  }
  .container-image img {
    height: 150px !important;
    width: 130px;
  }

  .col-content img {
    height: 220px;
  }
}



